body {
    text-align: justify;
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:17px;
    font-family:serif;
    font-weight:400;
    font-style:normal;
    color:#666;
    padding:0 10px;
}
     
h1,h2,h3 {
    line-height:1.2;
    font-family:"Georgia";
    font-weight:400;
    color:#222;
}
         
a {
    color:#2750C4;
    font-style:oblique;
}

code {
    color:#888;
    font-family:monospace;
    line-height:1.0;
    font-size:15px;
}

footer {
    font-size:13px;
    padding:10px 0;
}

em {
    font-style:normal;
    font-family:"Georgia";
    color:#222;
}

menu {
    font-size:18px;
    text-align: center;
    padding: 0 0;
    background-color: #d6d6d6;
}

header {
    font-size:18px;
    text-align:center;
}

ul {
    padding-right:40px;
}